<!-- extend from base layout -->
{% extends "layout.html" %}

{% block content %}
    <div class="container">
    <ol class="breadcrumb">
        <li><a href="/">首页</a></li>
        <li class="active">投资中心</li>
        <li class="active">我要投资</li>
    </ol>
    <div class="row">
        <div class="table-responsive col-lg-8 col-md-12">
            <form class="form-horizontal" method="post" action="">
                {{ form.csrf_token }}
                <div class="form-group{% if form.money_apply.errors %} has-error{% endif %}">
                    {{ form.money_apply.label(class="col-sm-2 control-label") }}
                    <div class="col-sm-10">
                        {{ form.money_apply(class="form-control", placeholder="申请金额[100的倍数]", type="number", min="100", max="100000", step="100") }}
                        {% for error in form.money_apply.errors %}
                            <span class="help-block">{{ error }}</span>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-success btn-load" data-loading-text="申请中">申请</button>
                        <button type="reset" class="btn btn-default">重新填写</button>
                        <button class="btn btn-default" onclick="history.back();">返回</button>
                    </div>
                </div>
            </form>
        </div>
        <!-- 用户概要 -->
        <div class="col-lg-4 col-md-12">
            <!-- 推广链接 -->
            <section id="user_profile">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong class="panel-title">User Profile
                            <span class="glyphicon glyphicon-list-alt pull-right"></span>
                        </strong>
                    </div>
                    <div class="panel-body">

                        <label for="invite_link">Invite Link</label>
                        <div class="input-group">
                            <!-- Target -->
                            <input class="form-control input-copy" rel="tooltip" title="invite link" id="invite_link" value="{{ url_for('index', _external=True, i=g.user.id | user_invite_link) }}">
                            <!-- Trigger -->
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" rel="tooltip" title="Copy to clipboard" data-clipboard-action="copy" data-clipboard-target="#invite_link">
                                    <span class="glyphicon glyphicon-duplicate"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </section>
            <!-- 账户信息 -->
            <section id="first_options">
                <div class="panel panel-default">
                <div class="panel-heading">
                    <strong class="panel-title">账户信息
                    <span class="glyphicon glyphicon-bookmark pull-right"></span>
                    </strong>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>账户名称</th>
                            <th>当前余额</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a href="#">钱包余额</a></td>
                            <td>{{ g.user.id | user_wallet }}</td>
                        </tr>
                        <tr>
                            <td><a href="#">数字货币</a></td>
                            <td>{{ g.user.id | user_bit_coin }}</td>
                        </tr>
                        <tr>
                            <td><a href="#">积分余额</a></td>
                            <td>{{ g.user.id | user_score }}</td>
                        </tr>
                        <tr>
                            <td><a href="#">奖金余额</a></td>
                            <td>{{ g.user.id | user_bonus }}</td>
                        </tr>
                    </tbody>
                </table>
                </div>
            </section>
        </div>
    </div>
    </div>
{% endblock %}
