# Created by .ignore support plugin (hsz.mobi)
### Python template

*.env
*.pyc
#*.log
.idea/
*.DS_Store

data/db_*
config/zhanghe.py
config/docker.py
config/online.py
logs/*.log
app_frontend/static/uploads/*

