# Created by .ignore support plugin (hsz.mobi)
### Python template

*.env
*.pyc
#*.log
.idea/
*.DS_Store

data/db_*
config/zhanghe.py
config/docker.py
config/online.py
logs/*.log
app_frontend/static/uploads/*
!app_frontend/static/uploads/index.html

# 数据
docker/mariadb/data/*
docker/mariadb/backup/*
docker/mongodb/data/*
docker/rabbitmq/data/*
docker/redis/data/*

# 日志
docker/nginx/log/*
