
<div class="modal fade" id="forget_password" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">忘记密码</h4>
            </div>
            <div class="modal-body">
                <p>联系客服，找回密码</p>
                <p>服务时间 7*24小时 不间断服务</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">立刻联系</button>
            </div>
        </div>
    </div>
</div>