<footer id="footer">
    <div class="container">
        <div class="row about">
            <div class="col-md-4 hidden-xs">
                <div class="col-md-4">
                    <dl>
                        <dt>网站首页</dt>
                        <dd><a href="#">关于我们</a></dd>
                        <dd><a href="#">企业文化</a></dd>
                        <dd><a href="#">团队介绍</a></dd>
                        <dd><a href="#">产品特点</a></dd>
                    </dl>
                </div>
                <div class="col-md-4">
                    <dl>
                        <dt>投资保障</dt>
                        <dd><a href="#">全系列产品</a></dd>
                        <dd><a href="#">资产证券化</a></dd>
                        <dd><a href="#">实时大数据</a></dd>
                    </dl>
                </div>
                <div class="col-md-4">
                    <dl>
                        <dt>产品功能</dt>
                        <dd><a href="#">增强免疫</a></dd>
                        <dd><a href="#">抗氧化抗疲劳</a></dd>
                        <dd><a href="#">调节内分泌</a></dd>
                        <dd><a href="#">抗风湿</a></dd>
                    </dl>
                </div>
            </div>
            <div class="col-md-3 weixin">
                <h3>关注我们</h3>
                <div class="col-xs-6">
                    <img src="{{ url_for('static', filename='theme/default/img/wx.png') }}" class="img-responsive img-rounded">
                    <p>关注微信</p>
                </div>
                <div class="col-xs-6">
                    <img src="{{ url_for('static', filename='theme/default/img/wx.png') }}" class="img-responsive img-rounded">
                    <p>关注微博</p>
                </div>
            </div>
            <div class="col-md-5">
               <div class="row-hr hidden-xs">
                   <div class="tel">
                       <p>客服热线（工作时间 8:00-22:00）</p>
                       <p class="number">400-888-8888</p>
                   </div>
               </div>
                <div class="address">
                    <p>地址：湖北省蕲春县李时珍医药工业园凯迪大道</p>
                    <p>Copyright ©2009-2017 Edai Corporation.All Rights Reserved.</p>
                    <p>濠源生物科技有限公司 蜀ICP备13010370号-1川 B -20120039</p>
                </div>
            </div>
        </div>
    </div>
</footer>