
<div class="modal fade" id="agreement" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">注册协议</h4>
            </div>
            <div class="modal-body">
                <h4>会员责任</h4>
                <p>1、不得利用本站危害国家安全、泄露国家秘密，不得侵犯国家社会集体的和公民的合法权益，不得利用本站制作、复制和传播下列信息：<br>
　　（1）煽动抗拒、破坏宪法和法律、行政法规实施的；<br>
　　（2）煽动颠覆国家政权，推翻社会主义制度的；<br>
　　（3）煽动分裂国家、破坏国家统一的；<br>
　　（4）煽动民族仇恨、民族歧视，破坏民族团结的；<br>
　　（5）捏造或者歪曲事实，散布谣言，扰乱社会秩序的；<br>
　　（6）宣扬封建迷信、淫秽、色情、赌博、暴力、凶杀、恐怖、教唆犯罪的；<br>
　　（7）公然侮辱他人或者捏造事实诽谤他人的，或者进行其他恶意攻击的；<br>
　　（8）损害国家机关信誉的；<br>
　　（9）其他违反宪法和法律行政法规的；<br>
　　（10）进行商业广告行为的。</p>
                <p>2、未经本站的授权或许可，任何会员不得借用本站的名义从事任何商业活动，也不得将本站作为从事商业活动的场所、平台或其他任何形式的媒介。禁止将本站用作从事各种非法活动的场所、平台或者其他任何形式的媒介。违反者若触犯法律，一切后果自负，本站不承担任何责任。</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">我已了解</button>
            </div>
        </div>
    </div>
</div>