{% extends "layout.html" %}

{% block content %}
    <div class="container">
    <h1>Sign Up</h1>

    {# 表单 #}
    <form class="form-horizontal" method="post" action="{{ url_for('reg.index') }}">
        {{ form.csrf_token }}
        {# 标签导航 #}
        <div class="form-group">
            <ul class="nav nav-tabs">  {# 填充整个导航条：nav-justified #}
                <li role="presentation" class="active"><a href="{{ url_for('reg.index') }}">Index</a></li>
                <li role="presentation"><a href="{{ url_for('reg.phone') }}">Phone</a></li>
                <li role="presentation"><a href="{{ url_for('reg.email') }}">Email</a></li>
            </ul>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="reg_type">Reg Type</label>
            <div class="col-sm-10">
                <select class="selectpicker show-tick" data-live-search="true" title="Choose one of the following..." data-header="Select a condiment" id="reg_type">
                    <optgroup label="Reg Type">
                        <option value="a" data-subtext="option subtext">Email</option>
                        <option value="b" data-subtext="option subtext">Phone</option>
                    </optgroup>
                    <optgroup label="Third Party">
                        <option value="c" data-subtext="option subtext">QQ</option>
                        <option value="d" data-subtext="option subtext">WeChat</option>
                        <option value="e" data-subtext="option subtext">WeiBo</option>
                        <option value="f" data-subtext="option subtext">GitHub</option>
                    </optgroup>
                </select>
            </div>
        </div>

        <div class="form-group{% if form.email.errors %} has-error{% endif %}">
            {{ form.email.label(class="col-sm-2 control-label") }}
            <div class="col-sm-10">
                {{ form.email(class="form-control", placeholder="Account(email)") }}
                {% for error in form.email.errors %}
                    <span class="help-block">{{ error }}</span>
                {% endfor %}
            </div>
        </div>
        <div class="form-group{% if form.password.errors %} has-error{% endif %}">
            {{ form.password.label(class="col-sm-2 control-label") }}
            <div class="col-sm-10">
                {{ form.password(class="form-control", placeholder="Password") }}
                {% for error in form.password.errors %}
                    <span class="help-block">{{ error }}</span>
                {% endfor %}
            </div>
        </div>
        <div class="form-group{% if form.confirm.errors %} has-error{% endif %}">
            {{ form.confirm.label(class="col-sm-2 control-label") }}
            <div class="col-sm-10">
                {{ form.confirm(class="form-control", placeholder="Password") }}
                {% for error in form.confirm.errors %}
                    <span class="help-block">{{ error }}</span>
                {% endfor %}
            </div>
        </div>
        <div class="form-group{% if form.accept_agreement.errors %} has-error{% endif %}">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                    <label>
                        {{ form.accept_agreement }} I accept the <a href="#" data-toggle="modal" data-target="#agreement">agreement</a>
                    </label>
                    {% for error in form.accept_agreement.errors %}
                    <span class="help-block">{{ error }}</span>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default btn-load" data-loading-text="Sign up...">Sign up</button>
            </div>
        </div>
    </form>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="agreement" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Agreement</h4>
                </div>
                <div class="modal-body">
                    <h4>Tooltips in a modal</h4>
                    <p><a href="#" class="tooltip-test" title="" data-original-title="Tooltip">This link</a> and <a
                            href="#" class="tooltip-test" title="" data-original-title="Tooltip">that link</a> should
                        have tooltips on hover.</p>
                    <hr>
                    <h4>Overflowing text to show scroll behavior</h4>
                    <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in,
                        egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel
                        augue laoreet rutrum faucibus dolor auctor.</p>
                    <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque
                        nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
                    <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in,
                        egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel
                        augue laoreet rutrum faucibus dolor auctor.</p>
                    <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque
                        nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
                    <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in,
                        egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel
                        augue laoreet rutrum faucibus dolor auctor.</p>
                    <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque
                        nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">I Known</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
<script>
    // 初始化赋值
    $('.selectpicker').selectpicker('val', 'a');
    // 处理选项修改
    $('#reg_type').on('changed.bs.select', function (event, clickedIndex, newValue, oldValue) {
        console.log($('.selectpicker').val());
        // console.log(event);
        // console.log(clickedIndex);
        // console.log(newValue);
        // console.log(oldValue);
    });
</script>
{% endblock %}
