<!-- extend from base layout -->
{% extends "layout.html" %}

{% block content %}
    <div class="container-fluid">
    <h2 class="sub-header">User List!</h2>
    <div class="table-responsive">
        {# <table class="table table-striped"> #}
        <table class="table table-hover">
            <thead>
            <tr>
                <th>id</th>
                <th>nickname</th>
                <th>phone</th>
                <th>create_time</th>
                <th>action</th>
            </tr>
            </thead>
            <tbody>
            {% for item in pagination.items %}
            <tr class="text-muted">
                <td>{{ item.id }}</td>
                <td>{{ item.nickname }}</td>
                <td>{{ item.phone }}</td>
                <td>{{ item.create_time }}</td>
                <td>
                    <a href="{{ url_for('user.edit_profile', user_id=item.id, next=request.path) }}" rel="tooltip" title="编辑"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a href="javascript:void(0);" onclick="user_delete({{ item.id }});" rel="tooltip" title="删除"><span class="glyphicon glyphicon-trash"></span></a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {# 翻页 #}
        {% from "macros.html" import render_pagination %}
        {{ render_pagination(pagination, 'user.lists') }}
    </div>
    </div>
{% endblock %}