/*------------------------------------------------*/
/*--------------[HEADER STYLE]-----------*/
/*------------------------------------------------*/

.header {
	z-index: 99;
	position: relative;
}
.header .navbar {
	margin: 0;
}

.header .navbar-default {
	border: none;
	background: #fff none repeat scroll 0 0;
        border-radius: 0;
}

.header .navbar-header {
	margin: 10px 0;
}
.header .navbar-brand { 
	z-index: 1;
	position: relative;
}

@media (max-width: 768px) {
	.header .navbar-brand {
		padding-left: 0;
	}
}

@media (max-width: 991px) {
	.header .navbar-brand {
		margin-top: -10px;
	}
}

@media (min-width: 992px) {
	.header .navbar-brand {
		margin-top: -4px;
                   padding: 12px 15px;
	}
}
.header .navbar-default .navbar-toggle {
	border-color: #a0ce4e;
}

@media (max-width: 768px) {
	.header .navbar-default .navbar-toggle {
		margin-right: 0;
	}
}

.header .navbar-default .navbar-toggle .fa {
	color: #fff;
	font-size: 19px;
}

.header .navbar-toggle,
.header .navbar-default .navbar-toggle:hover, 
.header .navbar-default .navbar-toggle:focus {
	background: #a0ce4e;
	padding: 6px 10px 2px;
}

.header .navbar-toggle:hover {
	background: #a0ce4e !important;
}

.header .navbar-collapse {
	position: relative;
}

@media (min-width: 992px) {
	.header .navbar-default .navbar-nav {
		margin-top: -10px;
	}
}

.header .navbar-default .navbar-nav > li > a {
	color: #687074;
	font-size: 15px;
	font-weight: 400;
	text-transform: uppercase;
}

@media (min-width: 992px) {
	.header .navbar-nav {
		float: right;
	}	
}
@media (max-width: 991px) {
    .header .navbar-header {
        float: none;
    }
    
    .header .navbar-toggle {
        display: block;
    }
    
    .header .navbar-collapse.collapse {
        display: none !important;
    }
    
    .header .navbar-collapse.collapse.in {
        display: block !important;
  		overflow-y: auto !important;
    }
    
    .header .navbar-nav {
        margin: 0 0 5px;
        float: none !important;
    }

    .header .navbar-nav > li {
        float: none;
    }
    
    .header .navbar-nav > li > a {
        padding-top: 30px;
        padding-bottom: 40px;
    }
	.header {
		border-bottom: solid 1px #eee;
	}

    .header .dropdown-menu.pull-right {
		float: none !important;
	}

	.header .navbar-nav .open .dropdown-menu {
		border: 0;
		float: none;
		width: auto;
		margin-top: 0;
		position: static;
		box-shadow: none;
		background-color: transparent;
	}

	.header .navbar-nav .open .dropdown-menu > li > a,
	.header .navbar-nav .open .dropdown-menu .dropdown-header {
		padding: 5px 15px 5px 25px;
	}
	
	.header .navbar-nav .open .dropdown-menu > li > a {
		line-height: 20px;
	}
	
	.header .navbar-nav .open .dropdown-menu > li > a:hover,
	.header .navbar-nav .open .dropdown-menu > li > a:focus {
		background-image: none;
	}

	.header .navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #687074;
	}

	.header .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
	.header .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #687074;
		background-color: transparent;
	}
	
	.header .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
	.header .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
	.header .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #687074;
		background-color: #e7e7e7;
	}
	
	.header .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
	.header .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
	.header .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
		color: #ccc;
		background-color: transparent;
	}	

	.header .navbar-default .dropdown-menu.no-bottom-space {
		padding-bottom: 0;
	}

  	.header .navbar-collapse,
	.header .navbar-collapse .container {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}

	.header .navbar-default .navbar-nav > li > a {
		font-size: 14px;
		padding: 9px 10px;
	}

	.header .navbar-default .navbar-nav > li a {
		border-bottom: solid 1px #eee;
	}	

	.header .navbar-default .navbar-nav > li > a:focus {
		background: none;
	}

	.header .navbar-default .navbar-nav > li > a:hover {
		color: #a0ce4e;
	}

	.header .navbar-default .navbar-nav > .active > a,
	.header .navbar-default .navbar-nav > .active > a:hover,
	.header .navbar-default .navbar-nav > .active > a:focus {
		background: #a0ce4e;
		color: #fff !important;	
	}

	.header .dropdown .dropdown-submenu > a { 
		font-size: 13px;
		color: #687074 !important;
		text-transform: uppercase;
	}
}

@media (min-width: 992px) {	
	.header .navbar-collapse {
		padding: 20px 0 0;
	}

	.header .navbar {
		min-height: 40px !important;
	}

	.header .navbar-nav {
		top: 2px;
		position: relative;
	}

	.header .navbar-default .navbar-nav > li {
		margin-left: 1px;
	}

	.header .navbar-default .navbar-nav > li > a {
		bottom: -2px;
		position: relative;
		padding: 15px 30px 17px 20px;
	}

	.header .navbar-default .navbar-nav > li > a,
	.header .navbar-default .navbar-nav > li > a:hover,
	.header .navbar-default .navbar-nav > li > a:focus {
		background: none;
	}
	
	.header .navbar-default .navbar-nav > .active > a,
	.header .navbar-default .navbar-nav > li > a:hover,
	.header .navbar-default .navbar-nav > li > a:focus {
		color: #a0ce4e;
		bottom: -2px;
		position: relative;
	}

	.header .navbar-default .navbar-nav > li:hover > a {
        color: #a0ce4e;
    }

	.header .dropdown-menu { 
		padding: 0;
		border: none;
		min-width: 200px;
		border-radius: 0; 
		z-index: 9999 !important;
		margin-top: -2px !important;
		border-top: solid 2px #a0ce4e; 
		border-bottom: solid 2px #a0ce4e; 
	}

	.header .dropdown-menu li a { 
		color: #687074; 
		font-size: 13px; 
		font-weight: 400; 
		padding: 6px 15px;
		border-bottom: solid 1px #eee;
	}

	.header .dropdown-menu .active > a,
	.header .dropdown-menu li > a:hover {
		filter: none !important;
		background: #f5f4ec none repeat scroll 0 0 !important;
                color: #687074;
		-webkit-transition: all 0.1s ease-in-out;
		-moz-transition: all 0.1s ease-in-out;
		-o-transition: all 0.1s ease-in-out;
		transition: all 0.1s ease-in-out;
	}

	.header .dropdown-menu li > a:focus {
		background: none;
		filter: none !important;
	}

	.header .navbar-nav > li.dropdown:hover > .dropdown-menu {
		display: block;
	}	

	.header .open > .dropdown-menu {
		display: none;
	}
	.header .navbar .search-open {
		width: 330px;
	}
}

.header .dropdown-submenu { 
   position: relative; 
}

.header .dropdown > a:after,
.header .dropdown-submenu > a:after {
    top: 8px;
    right: 9px;
    font-size: 11px;
    content: "\f105";
    position: absolute;
    font-weight: normal;
    display: inline-block;
    font-family: FontAwesome;
}

@media (max-width: 991px) {
  	.header .dropdown-submenu > a:after {
      	content: " ";
  	}
}

.header .dropdown > a:after {
    top: 16px;
    right: 15px;
    content: "\f107";
}

@media (max-width: 991px) {
  	.header .dropdown > a:after {
	    top: 11px;
	}
}

.header .dropdown-submenu > .dropdown-menu { 
	top: 0; 
	left: 100%; 
	margin-top: -5px; 
	margin-left: 0px; 
}

.header .dropdown-submenu > .dropdown-menu.submenu-left {
	left: -100%;
}

.header .dropdown-submenu:hover > .dropdown-menu {  
   	display: block;
}

@media (max-width: 991px) {
	.header .dropdown-submenu > .dropdown-menu {  
		display: block;
		margin-left: 15px;
	}
}

.header .dropdown-submenu.pull-left {
	float: none;
}

.header .dropdown-submenu.pull-left > .dropdown-menu {
	left: -100%;
	margin-left: 10px;
}

.header .dropdown-menu li [class^="fa-"],
.header .dropdown-menu li [class*=" fa-"] {
	left: -3px;
	width: 1.25em;
	margin-right: 1px;
	position: relative;
	text-align: center;
	display: inline-block;
}
.header .dropdown-menu li [class^="fa-"].fa-lg,
.header .dropdown-menu li [class*=" fa-"].fa-lg {
	width: 1.5625em;
}

.header .navbar .nav > li > .search {
	color: #aaa;
	cursor: pointer;
	font-size: 15px;
	min-width: 30px;
	padding: 18px 0;
	text-align: center;
	display: inline-block;
}

.header .navbar .nav > li > .search:hover {
	color: #a0ce4e;
}

.header .navbar .search-open {
	right: 0; 
	top: 51px; 
	display: none;
	padding: 14px; 
	position: absolute;
	background: #fff; 
	box-shadow: 0 0 3px #ddd; 
}

.header .navbar .search-open form {
	margin: 0;	
}

@media (min-width: 767px) and (max-width: 991px) {
	.header .navbar > .container .navbar-brand, 
	.header .navbar > .container-fluid .navbar-brand {
		margin-left: -10px;
	}

	.header .navbar-toggle {
		margin-right: 0;
	}
}

@media (max-width: 991px) {
	.header .navbar .nav > li > .search {
            display:none;
        }
}
.header .mega-menu .nav,
.header .mega-menu .dropup,
.header .mega-menu .dropdown,
.header .mega-menu .collapse {
  	position: static;
}

.header .mega-menu .navbar-inner,
.header .mega-menu .container {
  	position: relative;
}

.header .mega-menu .dropdown-menu {
  	left: auto;
}

.header .mega-menu .dropdown-menu > li {
  	display: block;
}

.header .mega-menu .dropdown-submenu .dropdown-menu {
  	left: 100%;
}
.header .mega-menu .nav.pull-right .dropdown-menu {
  	right: 0;
}

.header .mega-menu .menu-content {
  	*zoom: 1;
  	padding: 0;
}

.header .mega-menu .menu-content:before,
.header .mega-menu .menu-content:after {
  	content: "";
  	display: table;
  	line-height: 0;
}

.header .mega-menu .menu-content:after {
  	clear: both;
}

.header .mega-menu.navbar .nav > li > .dropdown-menu:after,
.header .mega-menu.navbar .nav > li > .dropdown-menu:before {
  	display: none;
}

.header .mega-menu .dropdown.mega-menu-fullwidth .dropdown-menu {
  	left: 0;
  	right: 0;
  	overflow: hidden;
}

@media (min-width: 992px) {
	.header .mega-menu .dropdown.mega-menu-fullwidth .dropdown-menu {
  		margin-left: 15px;
  		margin-right: 15px;
	}
}
@media (min-width: 992px) {
	.header .mega-menu .cv-menu-col-body {
	    display: -webkit-flex;
	    display: -ms-flexbox;
	    display: flex;
	}

	.header .mega-menu .cv-menu-col {
	    display: -webkit-flex;
	    display: -ms-flexbox;
	    display: flex;
	}
}
.header .mega-menu .cv-menu-list h3 {
	font-size: 15px;
	padding: 0 10px;
	font-weight: 400;
	text-transform: uppercase;
}
@media (min-width: 992px) {
	.header .mega-menu .big-screen-space {
		margin-bottom: 20px;
	}
}
@media (min-width: 992px) {
    .header .mega-menu .cv-menu-col {
        padding: 20px 0;
        border-left: 1px solid #eee;
    }

    .header .mega-menu .cv-menu-col:first-child {
        border-left: none;
        margin-left: -1px;
    }

    .header .mega-menu .cv-menu-list {
    	width: 100%;
    }

    .header .mega-menu .cv-menu-list li a {
        display: block;
        position: relative;
        border-bottom: none;
        padding: 5px 10px 5px 15px;
    }

    .header .mega-menu .cv-menu-list a:hover {
    	text-decoration: none;
    }
    
    .header .mega-menu .mega-menu-fullwidth li a {
    	padding: 5px 10px 5px 30px;	
    }

    .header .mega-menu .mega-menu-fullwidth li a:after {
        top: 7px;
        left: 15px;
        font-size: 11px;
        content: "\f105";
        position: absolute;
        font-weight: normal;
        display: inline-block;
        font-family: FontAwesome;
    }
    .header .mega-menu .mega-menu-fullwidth .icons-disable li a {
    	padding: 5px 10px 5px 15px;
    }

    .header .mega-menu .mega-menu-fullwidth .icons-disable li a:after {
    	display: none;
    }
}

@media (min-width: 737px) and (max-width: 991px) {
	.header .mega-menu .menu-content .container {
		width: 690px !important;
	}

	.header .mega-menu .cv-menu-col-body {
		margin-right: 0;
	}

	.header .mega-menu .cv-menu-col {
    	padding-right: 0;
    	margin-right: -15px;
    }
}

@media (max-width: 991px) {
	.header .mega-menu .cv-menu-col-body {
		margin-right: 0;
	}

	.header .mega-menu .cv-menu-col {
    	padding-right: 0;
    }
}

@media (max-width: 991px) {
    .header .mega-menu .dropdown.mega-menu-fullwidth .dropdown-menu {
        width: auto;
    }

    .header .mega-menu .cv-menu-col,
    .header .mega-menu .cv-menu-list {
        display: block;
    }

    .header .mega-menu .mega-menu-fullwidth .dropdown-menu > li > ul {
        display: block;
    }
    .header .mega-menu .cv-menu-list h3 { 
		color: #687074; 
		margin: 0 0 5px;
		font-size: 13px; 
		font-weight: 400; 
		padding: 6px 25px 5px; 
		border-bottom: solid 1px #eee;
	}

	.header .mega-menu .cv-menu-list li {
		margin-left: 15px;
	}

	.header .mega-menu .cv-menu-list li a {
		color: #687074;
		display: block;
		font-size: 13px; 
		font-weight: 400; 
		padding: 6px 25px; 
		border-bottom: solid 1px #eee;
	}

	.header .mega-menu .cv-menu-list > h3.active,
	.header .mega-menu .cv-menu-list > .active > a,
	.header .mega-menu .cv-menu-list > .active > a:hover,
	.header .mega-menu .cv-menu-list > .active > a:focus {
		color: #687074;
		background-color: #e7e7e7;
	}

	.header .mega-menu .cv-menu-list li a:hover {
		color: #687074;
		text-decoration: none;
	}
}
.search-click {
    background: #a0ce4e none repeat scroll 0 0;
    border: 0 none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    padding: 7px 13px;
    position: relative;
    text-decoration: none;
    white-space: nowrap;
}
