<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
    <div class="container">
    <h2 class="sub-header">Blog Hot!</h2>
    <div class="table-responsive">
        {# <table class="table table-striped"> #}
        <table class="table table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>id</th>
                <th>author</th>
                <th>title</th>
                <th>pub_date</th>
                <th>action</th>
            </tr>
            </thead>
            <tbody>
            {% for item in pagination.items %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ item.id }}</td>
                <td>{{ item.author }}</td>
                <td>{{ item.title }}</td>
                <td>{{ item.pub_date }}</td>
                <td>
                    {# <div class="pull-right"> #}
                    <a href="#"><span class="glyphicon glyphicon-flag"></span></a>
                    <a href="#"><span class="glyphicon glyphicon-heart"></span></a>
                    {# </div> #}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {# 翻页 #}
        {% from "macros.html" import render_pagination %}
        {{ render_pagination(pagination, 'blog_hot') }}
    </div>
    </div>
{% endblock %}