<!-- extend from base layout -->
{% extends "layout.html" %}

{% block extra_css %}

{% endblock %}

{% block content %}
    <div class="container">
    <!-- header -->
    <nav class="sub-header row container-fluid">
        <ol class="breadcrumb">
            <li><a href="/">首页</a></li>
            <li><a href="javascript:void(0);" onclick="$('#menu-active').trigger('click');">激活管理</a></li>
            <li class="active">激活列表</li>
        </ol>
        <div class="btn-group pull-right" role="group" aria-label="...">
            {% if not request.query_string %}
            <a type="button" class="btn btn-default active">系统赠送</a>
            <a type="button" class="btn btn-default" href="{{ url_for('active.lists', active_list_type=2) }}">会员转赠</a>
            <a type="button" class="btn btn-default" href="{{ url_for('active.lists', active_list_type=3) }}">上游激活</a>
            <a type="button" class="btn btn-default" href="{{ url_for('active.lists', active_list_type=4) }}">自行激活</a>
            {% elif request.query_string=="active_list_type=2" %}
            <a type="button" class="btn btn-default" href="{{ url_for('active.lists') }}">系统赠送</a>
            <a type="button" class="btn btn-default active">会员转赠</a>
            <a type="button" class="btn btn-default" href="{{ url_for('active.lists', active_list_type=3) }}">上游激活</a>
            <a type="button" class="btn btn-default" href="{{ url_for('active.lists', active_list_type=4) }}">自行激活</a>
            {% elif request.query_string=="active_list_type=3" %}
            <a type="button" class="btn btn-default" href="{{ url_for('active.lists') }}">系统赠送</a>
            <a type="button" class="btn btn-default" href="{{ url_for('active.lists', active_list_type=2) }}">会员转赠</a>
            <a type="button" class="btn btn-default active">上游激活</a>
            <a type="button" class="btn btn-default" href="{{ url_for('active.lists', active_list_type=4) }}">自行激活</a>
            {% elif request.query_string=="active_list_type=4" %}
            <a type="button" class="btn btn-default" href="{{ url_for('active.lists') }}">系统赠送</a>
            <a type="button" class="btn btn-default" href="{{ url_for('active.lists', active_list_type=2) }}">会员转赠</a>
            <a type="button" class="btn btn-default" href="{{ url_for('active.lists', active_list_type=3) }}">上游激活</a>
            <a type="button" class="btn btn-default active">自行激活</a>
            {% endif %}
        </div>
    </nav>

    <hr/>
    <!-- content -->
    <div class="table-responsive">
        {# <table class="table table-striped"> #}
        <table class="table table-hover">
            <thead>
            <tr>
                <th>激活明细ID</th>
                <th>赠送用户</th>
                <th>接收用户</th>
                <th>类型</th>
                <th>数量</th>
                <th>时间</th>
            </tr>
            </thead>
            <tbody>
            {% for active, user_profile_put, user_profile_get in pagination.items %}
            <tr class="text-muted">
                <td>{{ active.id }}</td>
                <td>{{ user_profile_put.nickname | default('系统赠送') }} [{{ active.user_id }}]</td>
                <td>{{ user_profile_get.nickname }} [{{ active.sc_id }}]</td>
                <td>{{ active.type | type_active }}</td>
                <td>{{ active.amount }}</td>
                <td>{{ moment(active.create_time).format('YYYY-MM-DD HH:mm:ss') }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {# 翻页 #}
        {% from "macros.html" import render_pagination %}
        {{ render_pagination(pagination, 'active.lists') }}
    </div>
    </div>
{% endblock %}

{% block extra_js %}

{% endblock %}
