<nav class="text-center panel-footer navbar-fixed-bottom">
{#    <div class="container">#}
    {{ "项目名称" | project_name }} &copy; 2017 All Rights Reserved.<br/>{{ "沪ICP备12024750号" | icp_code }}
{#    </div>#}
</nav>
<!-- Top Link -->
<span id="top-link-block" class="hidden">
    <a href="" class="well-sm" id="top-link">
        <i class="glyphicon glyphicon-plane center-block"></i>
    </a>
    <a href="" class="well-sm" id="top-link">
        <i class="glyphicon glyphicon-qrcode center-block"></i>
    </a>
</span>
