<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    {# <link rel="icon" href="{{ url_for('static', _external=True, filename='img/favicon.ico') }}"> #}
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    {% if title %}
    <title>{{ title }} - flask_project</title>
    {% else %}
    <title>flask_project</title>
    {% endif %}
    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}" rel="stylesheet">
    <!-- Plugin -->
    <link href="{{ url_for('static', filename='css/slideout.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap-select.min.css') }}" rel="stylesheet">
    <!-- Custom -->
    <link href="{{ url_for('static', filename='css/custom.css', v='1.4.93') }}" rel="stylesheet">
    {% block extra_css %}{% endblock %}
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body data-spy="scroll" data-target="#affix_nav">
    <!-- Fixed navbar -->
    {% from "macros.html" import render_nav, render_ground %}
    {{ render_nav(title) }}
{#    {{ render_ground(title) }}#}

{#    <div id="panel" class="page-panel">#}
    <div class="container">
    {# 闪现消息 success info warning danger #}
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
        <div class="container alert alert-{{ category }} alert-fixed-top" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{ message }}
        </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    </div>
    {% block content %}{% endblock %}
    <!-- Fixed Footer -->
    <nav class="text-center panel-footer">
{#    <div class="container">#}
    {{ "项目名称" | project_name }} &copy; 2017 All Rights Reserved.<br/>{{ "沪ICP备12024750号" | icp_code }}
{#    </div>#}
    </nav>
    <!-- Top Link -->
    <span id="top-link-block" class="hidden">
        <a href="" class="well-sm" id="top-link">
            <i class="glyphicon glyphicon-plane center-block"></i>
        </a>
        <a href="" class="well-sm" id="top-link">
            <i class="glyphicon glyphicon-qrcode center-block"></i>
        </a>
    </span>
{#    </div>#}

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{ url_for('static', filename='js/jquery-1.11.3.min.js') }}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ url_for('static', filename='plugin/Chart/Chart.min.js') }}"></script>
    <script src="{{ url_for('static', filename='plugin/Slideout/slideout.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-select.min.js') }}"></script>
    <script src="{{ url_for('static', filename='plugin/moment-2.18.1/min/moment-with-locales.min.js') }}"></script>
    <script>
        moment.locale("zh-cn");
        function flask_moment_render(elem) {
            $(elem).text(eval('moment("' + $(elem).data('timestamp') + '").' + $(elem).data('format') + ';'));
            $(elem).removeClass('flask-moment').show();
        }
        function flask_moment_render_all() {
            $('.flask-moment').each(function () {
                flask_moment_render(this);
                if ($(this).data('refresh')) {
                    (function (elem, interval) {
                        setInterval(function () {
                            flask_moment_render(elem)
                        }, interval);
                    })(this, $(this).data('refresh'));
                }
            })
        }
        $(document).ready(function () {
            flask_moment_render_all();
        });
    </script>
    <!-- Custom -->
    <script src="{{ url_for('static', filename='js/custom.js', v='1.4.70') }}"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>