{% macro render_pagination(pagination, endpoint) %}
    {% if pagination.pages > 0 %}
    <nav class="text-center">
        <ul class="pagination">
            <li>
                {% if pagination.has_prev %}
                    <a href="{{ url_for(endpoint, page=pagination.prev_num, **request.args) }}" aria-label="Previous">
                {% else %}
                    <a href="javascript:void(0);" aria-label="Previous">
                {% endif %}
                <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% for page in pagination.iter_pages() %}
                {% if page %}
                    {% if page == pagination.page %}
                        <li class="active">
                            {% else %}
                        <li>
                    {% endif %}
                <a href="{{ url_for(endpoint, page=page, **request.args) }}">{{ page }}</a>
                </li>
                {% endif %}
            {% endfor %}
            <li>
                {% if pagination.has_next %}
                    <a href="{{ url_for(endpoint, page=pagination.next_num, **request.args) }}" aria-label="Next">
                {% else %}
                    <a href="javascript:void(0);" aria-label="Next">
                {% endif %}
                <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
    {% else %}
    <section id="nothing">
        <div class="well well-large text-center">
            记录为空
        </div>
    </section>
    {% endif %}
{% endmacro %}


{% macro render_nav(title) %}
    {#    <nav class="navbar navbar-default">#}
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="navbar-brand" href="{{ url_for('index') }}">{{ "项目名称" | project_name }}</span>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li{% if request.path == url_for('index') %} class="active"{% endif %}><a href="{{ url_for('index') }}"><span
                            class="glyphicon glyphicon-home"></span> 首页</a></li>
                    <li{% if request.path == url_for('about') %} class="active"{% endif %}><a href="{{ url_for('about') }}"><span
                            class="glyphicon glyphicon-list"></span> 关于我们</a></li>
                    <li{% if request.path == url_for('contact') %} class="active"{% endif %}><a href="{{ url_for('contact') }}"><span
                            class="glyphicon glyphicon-envelope"></span> 联系我们</a></li>
{#                    <li class="dropdown">#}
{#                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"#}
{#                           aria-expanded="false"><span class="glyphicon glyphicon-book"></span> Blog List <span#}
{#                                class="caret"></span></a>#}
{#                        <ul class="dropdown-menu">#}
{#                            {% if title == 'blog_list' %}#}
{#                                <li class="dropdown-header">Blog List</li>{% else %}#}
{#                                <li><a href="{{ url_for('blog.index') }}">Blog List</a></li>{% endif %}#}
{#                            {% if title == 'blog_new' %}#}
{#                                <li class="dropdown-header">Blog New</li>{% else %}#}
{#                                <li><a href="{{ url_for('blog.new') }}">Blog New</a></li>{% endif %}#}
{#                            {% if title == 'blog_hot' %}#}
{#                                <li class="dropdown-header">Blog Hot</li>{% else %}#}
{#                                <li><a href="{{ url_for('blog.hot') }}">Blog Hot</a></li>{% endif %}#}
{#                        </ul>#}
{#                    </li>#}
                {% if g.user != None and g.user.is_authenticated %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false"><span class="glyphicon glyphicon-paste"></span> 投资中心 <span
                                class="caret"></span></a>
                        <ul class="dropdown-menu">
                        {% if request.path == url_for('order.lists_put') %}
                            <li class="dropdown-header"><span class="glyphicon glyphicon-list-alt"></span> 投资订单</li>
                        {% else %}
                            <li><a href="{{ url_for('order.lists_put') }}"><span class="glyphicon glyphicon-list-alt"></span> 投资订单</a></li>
                        {% endif %}
                        {% if request.path == url_for('apply.lists_put') %}
                            <li class="dropdown-header"><span class="glyphicon glyphicon-th-list"></span> 申请记录</li>
                        {% else %}
                            <li><a href="{{ url_for('apply.lists_put') }}"><span class="glyphicon glyphicon-th-list"></span> 申请记录</a></li>
                        {% endif %}
                        {% if request.path == url_for('apply.add_put') %}
                            <li class="dropdown-header"><span class="glyphicon glyphicon-plus"></span> 我要投资</li>
                        {% else %}
                            <li><a href="{{ url_for('apply.add_put') }}"><span class="glyphicon glyphicon-plus"></span> 我要投资</a></li>
                        {% endif %}
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false"><span class="glyphicon glyphicon-copy"></span> 提现中心 <span
                                class="caret"></span></a>
                        <ul class="dropdown-menu">
                        {% if request.path == url_for('order.lists_get') %}
                            <li class="dropdown-header"><span class="glyphicon glyphicon-list-alt"></span> 提现订单</li>
                        {% else %}
                            <li><a href="{{ url_for('order.lists_get') }}"><span class="glyphicon glyphicon-list-alt"></span> 提现订单</a></li>
                        {% endif %}
                        {% if request.path == url_for('apply.lists_get') %}
                            <li class="dropdown-header"><span class="glyphicon glyphicon-th-list"></span> 申请记录</li>
                        {% else %}
                            <li><a href="{{ url_for('apply.lists_get') }}"><span class="glyphicon glyphicon-th-list"></span> 申请记录</a></li>
                        {% endif %}
                        {% if request.path == url_for('apply.add_get') %}
                            <li class="dropdown-header"><span class="glyphicon glyphicon-plus"></span> 我要提现</li>
                        {% else %}
                            <li><a href="{{ url_for('apply.add_get') }}"><span class="glyphicon glyphicon-plus"></span> 我要提现</a></li>
                        {% endif %}
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false"><span class="glyphicon glyphicon-flag"></span> 激活中心 <span
                                class="caret"></span></a>
                        <ul class="dropdown-menu">
                        {% if request.path == url_for('active.lists') %}
                            <li class="dropdown-header"><span class="glyphicon glyphicon-list-alt"></span> 激活记录</li>
                        {% else %}
                            <li><a href="{{ url_for('active.lists') }}"><span class="glyphicon glyphicon-list-alt"></span> 激活记录</a></li>
                        {% endif %}
                        {% if request.path == url_for('active.add') %}
                            <li class="dropdown-header"><span class="glyphicon glyphicon-plus"></span> 赠送激活</li>
                        {% else %}
                            <li><a href="{{ url_for('active.add') }}"><span class="glyphicon glyphicon-plus"></span> 赠送激活</a></li>
                        {% endif %}
                        </ul>
                    </li>
                    <li{% if request.path == url_for('user.team') %} class="active"{% endif %}><a href="{{ url_for('user.team') }}"><span
                            class="glyphicon glyphicon-king"></span> 我的团队</a></li>
                {% endif %}
                </ul>
                {% if 1 == 2 %}
                <form class="navbar-form navbar-left" role="search" action="{{ url_for('search') }}">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for..." speech x-webkit-speech
                               onwebkitspeechchange="$(this).cloest('form').submit()">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                        </span>
                    </div>
                </form>
                {% endif %}
                <ul class="nav navbar-nav navbar-right">
                {% if 1==2 and g.user != None and g.user.is_authenticated %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-envelope"></span> 留言反馈
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{{ url_for('message.lists_send') }}">
                                    <span class="glyphicon glyphicon-folder-open"></span> 留言发送
                                </a>
                            </li>
                            <li>
                                <a href="{{ url_for('message.lists_receive') }}">
                                    <span class="glyphicon glyphicon-folder-close"></span> 留言接收
                                </a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href="{{ url_for('complaint.add') }}">
                                    <span class="glyphicon glyphicon-pencil"></span> 我要投诉
                                </a>
                            </li>
                            <li>
                                <a href="{{ url_for('complaint.lists') }}">
                                    <span class="glyphicon glyphicon-book"></span> 投诉记录
                                </a>
                            </li>
                        </ul>
                    </li>
                {% endif %}
                {% if g.user != None and g.user.is_authenticated %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true"
                           aria-expanded="false"><span
                                class="glyphicon glyphicon-user"></span> {{ g.user.id | user_name_level }}<span
                                class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{{ url_for('user.profile') }}">
                                    <span class="glyphicon glyphicon-folder-open"></span> 用户中心
                                </a>
                            </li>
{#                            <li><a href="{{ url_for('user.setting') }}"><span class="glyphicon glyphicon-cog"></span>#}
{#                                Setting</a></li>#}
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href="{{ url_for('auth.logout') }}">
                                    <span class="glyphicon glyphicon-log-out"></span> 退出登录
                                </a>
                            </li>
                        </ul>
                    </li>
                {% else %}
                    <li{% if title == 'reg' %} class="active"{% endif %}><a href="{{ url_for('reg.index') }}"><span
                            class="glyphicon glyphicon-list-alt"></span> 注册</a></li>
                    <li{% if title == 'login' %} class="active"{% endif %}><a href="{{ url_for('auth.index') }}"><span
                            class="glyphicon glyphicon-log-in"></span> 登录</a></li>
                {% endif %}
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
{% endmacro %}


{% macro render_ground(title) %}
    {#    <nav class="navbar navbar-default">#}
    <nav class="page-menu navbar-default" id="menu">
        <div class="container">
            <div class="navbar-header">
            </div>
            <div class="collapse in" aria-expanded="true">
                <ul class="nav navbar-nav">
                    <li{% if title == 'home' %} class="active"{% endif %}><a href="{{ url_for('index') }}"><span
                            class="glyphicon glyphicon-home"></span> Home</a></li>
                    <li{% if title == 'about' %} class="active"{% endif %}><a href="{{ url_for('about') }}"><span
                            class="glyphicon glyphicon-list"></span> About</a></li>
                    <li{% if title == 'contact' %} class="active"{% endif %}><a href="{{ url_for('contact') }}"><span
                            class="glyphicon glyphicon-envelope"></span> Contact</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false"><span class="glyphicon glyphicon-book"></span> Blog List <span
                                class="caret"></span></a>
                        <ul class="dropdown-menu">
                            {% if title == 'blog_list' %}
                                <li class="dropdown-header">Blog List</li>{% else %}
                                <li><a href="{{ url_for('blog.index') }}">Blog List</a></li>{% endif %}
                            {% if title == 'blog_new' %}
                                <li class="dropdown-header">Blog New</li>{% else %}
                                <li><a href="{{ url_for('blog.new') }}">Blog New</a></li>{% endif %}
                            {% if title == 'blog_hot' %}
                                <li class="dropdown-header">Blog Hot</li>{% else %}
                                <li><a href="{{ url_for('blog.hot') }}">Blog Hot</a></li>{% endif %}
                        </ul>
                    </li>
                </ul>
                <form class="navbar-form navbar-left" role="search" action="{{ url_for('search') }}">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for..." speech x-webkit-speech
                               onwebkitspeechchange="$(this).cloest('form').submit()">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                        </span>
                    </div>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    {% if g.user != None and g.user.is_authenticated %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true"
                               aria-expanded="false"><span
                                    class="glyphicon glyphicon-user"></span> {{ g.user.nickname }}<span
                                    class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ url_for('blog.add') }}"><span class="glyphicon glyphicon-edit"></span>
                                    Add Blog</a></li>
                                <li><a href="{{ url_for('user.setting') }}"><span class="glyphicon glyphicon-cog"></span>
                                    Setting</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="{{ url_for('auth.logout') }}"><span class="glyphicon glyphicon-log-out"></span>
                                    Logout</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li{% if title == 'reg' %} class="active"{% endif %}><a href="{{ url_for('reg.index') }}"><span
                                class="glyphicon glyphicon-list-alt"></span> Register</a></li>
                        <li{% if title == 'login' %} class="active"{% endif %}><a href="{{ url_for('auth.index') }}"><span
                                class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    {% endif %}
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
{% endmacro %}


{% macro render_team_tree(team_tree) %}
<!-- 一级 -->
<ul>
{% for i in team_tree %}
    <li class="list-unstyled">
        <a href="javascript:void(0);">{{ i[1] }} [{{ i[0] }}] [{{ i[2] | type_level }}]</a>
        <!-- 二级 -->
        <ul>
        {% for o in team_tree[i] %}
            <li class="list-unstyled">
                <a href="javascript:void(0);">{{ o[1] }} [{{ o[0] }}] [{{ o[2] | type_level }}]</a>
                <!-- 三级 -->
                <ul>
                {% for p in team_tree[i][o] %}
                    <li class="list-unstyled"><a href="javascript:void(0);">{{ p[1] }} [{{ p[0] }}] [{{ p[2] | type_level }}]</a></li>
                {% endfor %}
                </ul>
            </li>
        {% endfor %}
        </ul>
    </li>
{% endfor %}
</ul>
{% endmacro %}
