<section id="section_account_info">
    <div class="panel panel-default">
    <div class="panel-heading">
        <strong class="panel-title">我的团队
        <span class="glyphicon glyphicon-king pull-right"></span>
        </strong>
    </div>
    <div class="panel-body">
        <!-- 一级 -->
        <ul>
            <li><a href="#">Manchester</a>
                <!-- 二级 -->
                <ul>
                    <li><a href="#">Magazine</a>
                        <!-- 三级 -->
                        <ul>
                            <li><a href="#">Spiral Scratch</a></li>
                            <li><a href="#">Real Life</a></li>
                            <li><a href="#">Secondhand Daylight</a></li>
                            <li><a href="#">The Correct Use</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Buzzcocks</a>
                        <ul>
                            <li><a href="#">Time's Up</a></li>
                            <li><a href="#">Another Music in A Different Kitchen</a></li>
                            <li><a href="#">Love Bites</a></li>
                            <li><a href="#">A Different Kind Of Tension</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Joy Division</a>
                        <ul>
                            <li><a href="#">Unknown Pleasures</a></li>
                            <li><a href="#">Closer</a></li>
                            <li><a href="#">Still</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href="#">Liverpool</a>
                <ul>
                    <li><a href="#">OMD</a>
                        <ul>
                            <li><a href="#">OMD</a></li>
                            <li><a href="#">Organisation</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Echo & the Bunnymen</a>
                        <ul>
                            <li><a href="#">Crocodiles</a></li>
                            <li><a href="#">Heaven Up Here</a></li>
                            <li><a href="#">Porcupine</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    </div>
</section>