{% extends "layout.html" %}

{% block content %}
    <div class="container">
    <h1>Profile</h1>

    <div class="row">
        <div class="table-responsive col-lg-8 col-md-12">
            {# 表单 #}
            <form class="form-horizontal" method="post" action="">
                {{ form.csrf_token }}
                {# 标签导航 #}
                <ul class="nav nav-tabs">  {# 填充整个导航条：nav-justified #}
                    <li role="presentation"><a href="{{ url_for('user.auth') }}">Auth</a></li>
                    <li role="presentation"><a href="{{ url_for('user.bank') }}">bank</a></li>
                    <li role="presentation" class="active"><a href="{{ url_for('user.profile') }}">Profile</a></li>
                </ul>
                <p></p>
                <div class="form-group{% if form.user_pid.errors %} has-error{% endif %}">
                    {{ form.user_pid.label(class="col-sm-2 control-label") }}
                    <div class="col-sm-10">
                        {{ form.user_pid(class="form-control", placeholder="Pid") }}
                        {% for error in form.user_pid.errors %}
                            <span class="help-block">{{ error }}</span>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group{% if form.nickname.errors %} has-error{% endif %}">
                    {{ form.nickname.label(class="col-sm-2 control-label") }}
                    <div class="col-sm-10">
                        {{ form.nickname(class="form-control", placeholder="Nickname", disabled="disabled") }}
                        {% for error in form.nickname.errors %}
                            <span class="help-block">{{ error }}</span>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group{% if form.email.errors %} has-error{% endif %}">
                    {{ form.email.label(class="col-sm-2 control-label") }}
                    <div class="col-sm-10">
                        {{ form.email(class="form-control", placeholder="Email") }}
                        {% for error in form.email.errors %}
                            <span class="help-block">{{ error }}</span>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group{% if form.area_id.errors %} has-error{% endif %}">
                    {{ form.area_id.label(class="col-sm-2 control-label") }}
                    <div class="col-sm-10">
                        {{ form.area_id() }}
                        {% for error in form.area_id.errors %}
                            <span class="help-block">{{ error }}</span>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group{% if form.phone.errors %} has-error{% endif %}">
                    {{ form.phone.label(class="col-sm-2 control-label") }}
                    <div class="col-sm-10">
                        {{ form.phone(class="form-control", placeholder="Phone", type="tel", maxlength=11) }}
                        {% for error in form.phone.errors %}
                            <span class="help-block">{{ error }}</span>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group{% if form.birthday.errors %} has-error{% endif %}">
                    {{ form.birthday.label(class="col-sm-2 control-label") }}
                    <div class="col-sm-10">
                        {{ form.birthday(class="form-control", placeholder="Birthday", type="date") }}
                        {% for error in form.birthday.errors %}
                            <span class="help-block">{{ error }}</span>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group{% if form.id_card.errors %} has-error{% endif %}">
                    {{ form.id_card.label(class="col-sm-2 control-label") }}
                    <div class="col-sm-10">
                        {{ form.id_card(class="form-control", placeholder="ID Card", maxlength=18) }}
                        {% for error in form.id_card.errors %}
                            <span class="help-block">{{ error }}</span>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group{% if form.create_time.errors %} has-error{% endif %}">
                    {{ form.create_time.label(class="col-sm-2 control-label") }}
                    <div class="col-sm-10">
                        <div class="form-control">
                            {{ moment(form.create_time.data).format('YYYY-MM-DD HH:mm:ss') }}
                        </div>
                        {% for error in form.create_time.errors %}
                            <span class="help-block">{{ error }}</span>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group{% if form.update_time.errors %} has-error{% endif %}">
                    {{ form.update_time.label(class="col-sm-2 control-label") }}
                    <div class="col-sm-10">
                        <div class="form-control">
                            {{ moment(form.update_time.data).format('YYYY-MM-DD HH:mm:ss') }}
                        </div>
                        {% for error in form.update_time.errors %}
                            <span class="help-block">{{ error }}</span>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default btn-load" data-loading-text="Editing...">Edit</button>
                        <button type="reset" class="btn btn-default">Reset</button>
                    </div>
                </div>
            </form>
        </div>
        <!-- 用户概要 -->
        <div class="col-lg-4 col-md-12">
            <!-- 推广链接 -->
            <section id="user_profile">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong class="panel-title">User Profile
                            <span class="glyphicon glyphicon-list-alt pull-right"></span>
                        </strong>
                    </div>
                    <div class="panel-body">

                        <label for="invite_link">Invite Link</label>
                        <div class="input-group">
                            <!-- Target -->
                            <input class="form-control input-copy" rel="tooltip" title="invite link" id="invite_link" value="{{ url_for('index', _external=True, i=g.user.id | user_invite_link) }}">
                            <!-- Trigger -->
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" rel="tooltip" title="Copy to clipboard" data-clipboard-action="copy" data-clipboard-target="#invite_link">
                                    <span class="glyphicon glyphicon-duplicate"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </section>
            <!-- 账户信息 -->
            <section id="first_options">
                <div class="panel panel-default">
                <div class="panel-heading">
                    <strong class="panel-title">账户信息
                    <span class="glyphicon glyphicon-bookmark pull-right"></span>
                    </strong>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>账户名称</th>
                            <th>当前余额</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a href="#">钱包余额</a></td>
                            <td>{{ g.user.id | user_wallet }}</td>
                        </tr>
                        <tr>
                            <td><a href="#">数字货币</a></td>
                            <td>{{ g.user.id | user_bit_coin }}</td>
                        </tr>
                        <tr>
                            <td><a href="#">积分余额</a></td>
                            <td>{{ g.user.id | user_score }}</td>
                        </tr>
                        <tr>
                            <td><a href="#">奖金余额</a></td>
                            <td>{{ g.user.id | user_bonus }}</td>
                        </tr>
                    </tbody>
                </table>
                </div>
            </section>
        </div>
    </div>


    </div>

{% endblock %}

{% block extra_js %}
<script src="{{ url_for('static', filename='plugin/clipboard.js-1.6.1/dist/clipboard.min.js') }}"></script>

<script>
    //
    var clipboard = new Clipboard('.btn');

    clipboard.on('success', function(e) {
        // console.info('Action:', e.action);
        // console.info('Text:', e.text);
        // console.info('Trigger:', e.trigger);
        e.clearSelection();
        alert('复制成功，粘贴使用推广链接');
    });

    clipboard.on('error', function(e) {
        // console.error('Action:', e.action);
        // console.error('Trigger:', e.trigger);
        alert('操作失败，重新复制推广链接');
    });
</script>
<script>
    // 初始化赋值
    var area_id = $('#area_id');
    area_id.selectpicker('val', '{{ form.area_id.data }}');
    // 处理选项修改
    area_id.on('changed.bs.select', function (event, clickedIndex, newValue, oldValue) {
        console.log($('#area_id').val());
        // console.log(event);
        // console.log(clickedIndex);
        // console.log(newValue);
        // console.log(oldValue);
    });
</script>
{% endblock %}
