<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    {# <link rel="icon" href="{{ url_for('static', _external=True, filename='img/favicon.ico') }}"> #}
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    {% if title %}
    <title>{{ title }} - flask_project</title>
    {% else %}
    <title>flask_project</title>
    {% endif %}
    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Plugin -->
    <link href="{{ url_for('static', filename='css/slideout.css') }}" rel="stylesheet">
    <!-- Custom -->
    <link href="{{ url_for('static', filename='css/custom.css', v='1.4.71') }}" rel="stylesheet">
    {% block extra_css %}{% endblock %}
</head>
<body data-spy="scroll" data-target="#affix_nav">
    <!-- Fixed navbar -->
    {% from "macros.html" import render_nav, render_ground %}
    {{ render_nav(title) }}
    {{ render_ground(title) }}

    <div id="panel" class="page-panel">
    <div class="container">
    {# 闪现消息 success info warning danger #}
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
        <div class="alert alert-{{ category }}" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{ message }}
        </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    </div>
    {% block content %}{% endblock %}
    <!-- Fixed Footer -->
    <nav class="text-center panel-footer">
{#    <div class="container">#}
    Flask Project &copy; 2016 All Rights Reserved. 沪ICP备12024750号
{#    </div>#}
    </nav>
    <!-- Top Link -->
    <span id="top-link-block" class="hidden">
        <a href="" class="well-sm" id="top-link" title="Back to Top">
            <i class="glyphicon glyphicon-menu-up center-block"></i>
            <i class="glyphicon glyphicon-menu-up center-block"></i>
        </a>
    </span>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{ url_for('static', filename='js/jquery-1.11.3.min.js') }}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ url_for('static', filename='plugin/Chart/Chart.min.js') }}"></script>
    <script src="{{ url_for('static', filename='plugin/Slideout/slideout.min.js') }}"></script>
    <!-- Custom -->
    <script src="{{ url_for('static', filename='js/custom.js', v='1.4.66') }}"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>