<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    {# <link rel="icon" href="{{ url_for('static', _external=True, filename='img/favicon.ico') }}"> #}
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    {% if title %}
    <title>{{ title }} - flask_project</title>
    {% else %}
    <title>flask_project</title>
    {% endif %}
    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
</head>
<body>
    <!-- Fixed navbar -->
    {% from "macros.html" import render_nav %}
    {{ render_nav(title) }}
    <div class="navbar"></div>
    <div class="container">
    {# 闪现消息 success info warning danger #}
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
        <div class="alert alert-{{ category }}" role="alert">{{ message }}</div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    </div>
    {% block content %}{% endblock %}

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{ url_for('static', filename='js/jquery-1.11.3.min.js') }}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>