<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>系统邮件</title>
</head>
<body>
<p>Dear Admin,</p>
<p style="text-indent:2em;">
    This is a Bug!
Please Fix It!
</p>

<h3>Bug Information</h3>
<p>
{{ message }}
</p>

<h3>Contact Information</h3>
<p>
Address: Level 10, No.700, East Yanan Road, Huangpu District, Shanghai, P. R. China<br />
Email: info@company.com<br />
Phone: 021-8888-6666<br />
Mobile: 138-1873-2593
</p>

<p>Regards,</p>
<p>The <code>flask app</code> Dev Team</p>
</body>
</html>