<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
    <div class="container">
    <h2 class="sub-header">Setting</h2>

    <div class="row">
        <div class="col-lg-8 col-md-12">
            <section id="user_profile">
                <div class="panel panel-default">
                <div class="panel-heading">
                    <strong class="panel-title">User profile
                    <span class="glyphicon glyphicon-cog pull-right"></span>
                    </strong>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" method="post" action="{{ url_for('setting') }}">
                    {{ form.csrf_token }}
                    <div class="form-group{% if form.email.errors %} has-error{% endif %}">
                        {{ form.email.label(class="col-sm-2 control-label") }}
                        <div class="col-sm-10">
                            {{ form.email(class="form-control", placeholder="Email") }}
                            {% for error in form.email.errors %}
                                <span class="help-block">{{ error }}</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="form-group{% if form.password.errors %} has-error{% endif %}">
                        {{ form.password.label(class="col-sm-2 control-label") }}
                        <div class="col-sm-10">
                            {{ form.password(class="form-control", placeholder="Password", disabled="disabled") }}
                            {% for error in form.password.errors %}
                                <span class="help-block">{{ error }}</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="form-group{% if form.nickname.errors %} has-error{% endif %}">
                        {{ form.nickname.label(class="col-sm-2 control-label") }}
                        <div class="col-sm-10">
                            {{ form.nickname(class="form-control", placeholder="nickname") }}
                            {% for error in form.nickname.errors %}
                                <span class="help-block">{{ error }}</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="form-group{% if form.birthday.errors %} has-error{% endif %}">
                        {{ form.birthday.label(class="col-sm-2 control-label") }}
                        <div class="col-sm-10">
                            {{ form.birthday(class="form-control", placeholder="birthday", type='date') }}
                            {% for error in form.birthday.errors %}
                                <span class="help-block">{{ error }}</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="form-group{% if form.create_time.errors %} has-error{% endif %}">
                        {{ form.create_time.label(class="col-sm-2 control-label") }}
                        <div class="col-sm-10">
                            {{ form.create_time(class="form-control", placeholder="create_time", disabled="disabled") }}
                            {% for error in form.create_time.errors %}
                                <span class="help-block">{{ error }}</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="form-group{% if form.update_time.errors %} has-error{% endif %}">
                        {{ form.update_time.label(class="col-sm-2 control-label") }}
                        <div class="col-sm-10">
                            {{ form.update_time(class="form-control", placeholder="update_time", disabled="disabled") }}
                            {% for error in form.update_time.errors %}
                                <span class="help-block">{{ error }}</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="form-group{% if form.last_ip.errors %} has-error{% endif %}">
                        {{ form.last_ip.label(class="col-sm-2 control-label") }}
                        <div class="col-sm-10">
                            {{ form.last_ip(class="form-control", placeholder="last_ip", disabled="disabled") }}
                            {% for error in form.last_ip.errors %}
                                <span class="help-block">{{ error }}</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default">Edit</button>
                            <button type="reset" class="btn btn-default">Reset</button>
                            <button class="btn btn-default" onclick="javascript:history.back(-1);">Back</button>
                        </div>
                    </div>
                </form>
                </div>
            </div>
            </section>
            <section id="first_options">
                <div class="panel panel-default">
                <div class="panel-heading">
                    <strong class="panel-title">First server management options
                    <span class="glyphicon glyphicon-cog pull-right"></span>
                    </strong>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Permission Item</th>
                            <th>Community Edition</th>
                            <th><b>Enterprise Edition</b></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a href="#">Create and remove admins based on an LDAP group</a></td>
                            <td><span class="glyphicon glyphicon-remove"></span></td>
                            <td><span class="glyphicon glyphicon-ok"></span></td>
                        </tr>
                        <tr>
                            <td><a href="#">Groups consisting of multiple people with a shared namespace</a></td>
                            <td><span class="glyphicon glyphicon-ok"></span></td>
                            <td><span class="glyphicon glyphicon-remove"></span></td>
                        </tr>
                        <tr>
                            <td><a href="#">Close JIRA issues with GitLab commits</a></td>
                            <td><span class="glyphicon glyphicon-ok"></span></td>
                            <td><span class="glyphicon glyphicon-remove"></span></td>
                        </tr>
                    </tbody>
                  </table>
            </div>
            </section>
            <section id="user_permissions">
                <div class="panel panel-default">
                <div class="panel-heading">
                    <strong class="panel-title">User permissions
                    <span class="glyphicon glyphicon-cog pull-right"></span>
                    </strong>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Permission Item</th>
                            <th>Community Edition</th>
                            <th><b>Enterprise Edition</b></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a href="#">Create and remove admins based on an LDAP group</a></td>
                            <td><span class="glyphicon glyphicon-remove"></span></td>
                            <td><span class="glyphicon glyphicon-ok"></span></td>
                        </tr>
                        <tr>
                            <td><a href="#">Groups consisting of multiple people with a shared namespace</a></td>
                            <td><span class="glyphicon glyphicon-ok"></span></td>
                            <td><span class="glyphicon glyphicon-remove"></span></td>
                        </tr>
                        <tr>
                            <td><a href="#">Close JIRA issues with GitLab commits</a></td>
                            <td><span class="glyphicon glyphicon-ok"></span></td>
                            <td><span class="glyphicon glyphicon-remove"></span></td>
                        </tr>
                        <tr>
                            <td><a href="#">Groups consisting of multiple people with a shared namespace</a></td>
                            <td><span class="glyphicon glyphicon-ok"></span></td>
                            <td><span class="glyphicon glyphicon-remove"></span></td>
                        </tr>
                        <tr>
                            <td><a href="#">Close JIRA issues with GitLab commits</a></td>
                            <td><span class="glyphicon glyphicon-ok"></span></td>
                            <td><span class="glyphicon glyphicon-remove"></span></td>
                        </tr>
                    </tbody>
                  </table>
            </div>
            </section>
            <section id="additional_options">
                <div class="panel panel-default">
                <div class="panel-heading">
                    <strong class="panel-title">Additional server management options
                    <span class="glyphicon glyphicon-cog pull-right"></span>
                    </strong>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Permission Item</th>
                            <th>Community Edition</th>
                            <th><b>Enterprise Edition</b></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a href="#">Create and remove admins based on an LDAP group</a></td>
                            <td><span class="glyphicon glyphicon-remove"></span></td>
                            <td><span class="glyphicon glyphicon-ok"></span></td>
                        </tr>
                        <tr>
                            <td><a href="#">Groups consisting of multiple people with a shared namespace</a></td>
                            <td><span class="glyphicon glyphicon-ok"></span></td>
                            <td><span class="glyphicon glyphicon-remove"></span></td>
                        </tr>
                        <tr>
                            <td><a href="#">Close JIRA issues with GitLab commits</a></td>
                            <td><span class="glyphicon glyphicon-ok"></span></td>
                            <td><span class="glyphicon glyphicon-remove"></span></td>
                        </tr>
                        <tr>
                            <td><a href="#">Create and remove admins based on an LDAP group</a></td>
                            <td><span class="glyphicon glyphicon-remove"></span></td>
                            <td><span class="glyphicon glyphicon-ok"></span></td>
                        </tr>
                        <tr>
                            <td><a href="#">Groups consisting of multiple people with a shared namespace</a></td>
                            <td><span class="glyphicon glyphicon-ok"></span></td>
                            <td><span class="glyphicon glyphicon-remove"></span></td>
                        </tr>
                        <tr>
                            <td><a href="#">Close JIRA issues with GitLab commits</a></td>
                            <td><span class="glyphicon glyphicon-ok"></span></td>
                            <td><span class="glyphicon glyphicon-remove"></span></td>
                        </tr>
                        <tr>
                            <td><a href="#">Create and remove admins based on an LDAP group</a></td>
                            <td><span class="glyphicon glyphicon-remove"></span></td>
                            <td><span class="glyphicon glyphicon-ok"></span></td>
                        </tr>
                        <tr>
                            <td><a href="#">Groups consisting of multiple people with a shared namespace</a></td>
                            <td><span class="glyphicon glyphicon-ok"></span></td>
                            <td><span class="glyphicon glyphicon-remove"></span></td>
                        </tr>
                        <tr>
                            <td><a href="#">Close JIRA issues with GitLab commits</a></td>
                            <td><span class="glyphicon glyphicon-ok"></span></td>
                            <td><span class="glyphicon glyphicon-remove"></span></td>
                        </tr>
                    </tbody>
                  </table>
            </div>
            </section>
            <section id="last_options">
                <div class="panel panel-default">
                <div class="panel-heading">
                    <strong class="panel-title">Last server management options
                    <span class="glyphicon glyphicon-cog pull-right"></span>
                    </strong>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Permission Item</th>
                            <th>Community Edition</th>
                            <th><b>Enterprise Edition</b></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a href="#">Create and remove admins based on an LDAP group</a></td>
                            <td><span class="glyphicon glyphicon-remove"></span></td>
                            <td><span class="glyphicon glyphicon-ok"></span></td>
                        </tr>
                        <tr>
                            <td><a href="#">Groups consisting of multiple people with a shared namespace</a></td>
                            <td><span class="glyphicon glyphicon-ok"></span></td>
                            <td><span class="glyphicon glyphicon-remove"></span></td>
                        </tr>
                        <tr>
                            <td><a href="#">Close JIRA issues with GitLab commits</a></td>
                            <td><span class="glyphicon glyphicon-ok"></span></td>
                            <td><span class="glyphicon glyphicon-remove"></span></td>
                        </tr>
                    </tbody>
                  </table>
            </div>
            </section>
        </div>

        <nav class="col-lg-4 col-md-12" id="affix_nav">
            <ul class="nav nav-pills nav-stacked" data-spy="affix" data-offset-top="10" id="affix_nav_ul">
                <li class="active">
                    <a href="#user_profile" class="list-group-item">
                        <span class="glyphicon glyphicon-chevron-right"></span> User profile
                    </a>
                </li>
                <li>
                    <a href="#first_options" class="list-group-item">
                        <span class="glyphicon glyphicon-chevron-right"></span> First server management options
                    </a>
                </li>
                <li>
                    <a href="#user_permissions" class="list-group-item">
                        <span class="glyphicon glyphicon-chevron-right"></span> User permissions
                    </a>
                </li>
                <li>
                    <a href="#additional_options" class="list-group-item">
                        <span class="glyphicon glyphicon-chevron-right"></span> Additional server management options
                    </a>
                </li>
                <li>
                    <a href="#last_options" class="list-group-item">
                        <span class="glyphicon glyphicon-chevron-right"></span> Last server management options
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    </div>
{% endblock %}